html, body {
  margin: 0;
  padding: 0;
  background: #f9ffd8;
}

#globe {
  cursor: move;  
}

#current {
  position: absolute;
  color: blue;
  font-family: sans-serif;
  margin-left: 7%;
  margin-top: 7%;
}

